<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">Técnico Universitario en Programación</p>
    </div>

    <p class="sidebar-contact">santiagoayala825@gmail.com</p>
    <p class="sidebar-contact">223-3461395</p>
    <p class="sidebar-contact"><a href="https://santi-ayala.github.io/">santi-ayala.github.io</a></p>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://github.com/santi-ayala">GitHub</a>
    </nav>
  </div>
</div>